
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');



@import 'bootstrap';
body {
  margin: 1rem;
}

/* ============= FOOTER ============== */
.footer {
  max-width: 100%;
  height: 55px;
  vertical-align: middle;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  color: gold;
}

.intropic {
  float: right;
}
.row3{
  display: flex;
  justify-content: center;
}

/* ============= HEADER ============== */
.header {
  color: gold
}


#nav-text{
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px gray;
}

.welcome {
  display: inline-block;
  width: 50%;
  color: black;
}
.headerbackground{
  background-image: url(https://images.unsplash.com/photo-1516118461620-03680a03bd27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2946&q=80);
  background-size: 100% 100%;
}

/* ============= ABOUT US ============== */
.container {
 display: flex;
 &__image {
   display: flex;
   justify-content: flex-end;
  }
 &__text {
   flex: 1 1 auto ;
 }
}

.container2 {
 padding: 20px 40px 40px;
 max-width: 1000px;
 display: flex;
 &__image2 {
   display: flex;
   flex-direction: row-reverse;
   position: absolute;
   width: 319px;
   height: 322px;
   left: 1152px;
   top: 972px;
   border-radius: 100%;
 }
 &__text2 {
   flex: 1 1 auto;
 }
}

.container3 {
 padding: 20px 40px 40px;
 max-width: 1000px;
 display: flex;
 &__image3 {
   position: absolute;
   width: 319px;
   height: 322px;
   left: 1152px;
   top: 972px;
   border-radius: 100%;
 }
 &__text3 {
   flex: 1 1 auto;
 }
}

#full-page {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* ============= EVENT INDEX ============== */
#indexcard {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
}

#index-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  object-position: 90% 0;
}

#form-new {
  width: 700px;
}
.body{
  background-image: url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

#h1-eventindexpage {
  margin-bottom: 40px;
  color: gold;
}

#card-eventindexpage {
  margin-top: 15px;
  margin-bottom: 15px;
}
#eventindex-background {
  background-image: url(https://images.unsplash.com/photo-1546608235-3310a2494cdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=676&q=80);
}
/* ============= EVENT SHOW PAGE ============== */
#edit-button {
  margin-right: 15px;
}

#delete-button {
  margin-left: 15px;
}
/* ============= HOME ============== */

#h1-homepage {
  margin-bottom: 50px;
  text-align: center;
}

.hometext {
  text-align: center;
  color: white;
}
.hometext2 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
}
.row {
  display: flex;
}

.column {
  flex: 25%;
  padding: 5px;
}
.row2 {
  display: flex;
  justify-content: center;
}

.column2 {
  padding: 10px;
}
.hometext3 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
}
.backgroundpic {
  background-image: url(https://images.unsplash.com/photo-1516118461620-03680a03bd27?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2946&q=80);
  background-size: cover;
}

#secondLast{
  margin-bottom: 20px;
}
